doctype html
html(lang="en")
  head
    title Abstract Puzzles
    link(rel="icon" type="image/png" href="/favicon.png" sizes="64x64")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(property="og:title" content="Abstract Puzzles")
    meta(name="twitter:title" content="Abstract Puzzles")
    meta(name="description" content="Abstract Puzzles is an experimental generative art jigsaw project by Charlotte Dann")
    meta(name="og:description" content="Abstract Puzzles is an experimental generative art jigsaw project by Charlotte Dann")
    meta(name="twitter:description" content="Abstract Puzzles is an experimental generative art jigsaw project by Charlotte Dann")
    meta(property="og:image" content="http://abstractpuzzl.es/opengraph.jpg")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    meta(name="twitter:image" content="http://abstractpuzzl.es/twittercard.jpg")

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-112639076-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-112639076-1');

  body
    .page
      .section.intro
        h1.js-avoid Abstract Puzzles
        p
          span.no-wrap.js-avoid A generative art jigsaw project
          | 
          span.no-wrap.js-avoid by #[a(href="https://charlottedann.com/") Charlotte&nbsp;Dann]
        p.js-avoid One new puzzle every week

      .section
        ul.links.js-avoid
          li
            a(href="https://www.instagram.com/abstractpuzzles/" title="Follow on Instagram")
              include icons/instagram
          li
            a(href="https://www.youtube.com/channel/UCDcKvGgdl8Jf7mROVZlhjog" title="Watch full-length solves on YouTube")
              include icons/youtube
          li
            a(href="https://twitter.com/abstractpuzzles" title="Follow on Twitter")
              include icons/twitter
          li
            a(href="https://github.com/pouretrebelle/jigsaws" title="Find the source code for all the art on GitHub")
              include icons/github

      .section
        form.newsletter(action="https://hexatope.us17.list-manage.com/subscribe/post?u=4c51e43f1162adc62d41e6ea5&amp;id=a1420a8048" method="post" target="_blank")
          label
            span.no-wrap.js-avoid Put your email here to be notified when
            | 
            span.no-wrap.js-avoid you can buy one for yourself:&ensp;
            input.newsletter__input.js-avoid(type="email" name="EMAIL")
            div(style="position: absolute; left: -5000px;" aria-hidden="true")
              input(type="text" name="b_4c51e43f1162adc62d41e6ea5_a1420a8048" tabindex="-1" value="")
              input(type="submit")
        span.disclaimer.js-avoid N.B. that may never happen

      main.puzzles
        ol
          - var n = 10;
          while n > 1
            - n--
            li.puzzle
              .puzzle__media
                - var src = `https://res.cloudinary.com/abstract-puzzles/image/upload/c_scale,w_1480/00${n}_solve_001.jpg`
                img.puzzle__img(preserveAspectRatio="xMidYMax slice" src=src)
                img.puzzle__img(preserveAspectRatio="xMidYMax slice" src=`https://res.cloudinary.com/abstract-puzzles/image/upload/c_scale,w_1480/00${n}_solve_006.jpg`)
              .puzzle__info
                h2.puzzle__title= `00${n}`
                .puzzle__meta
                  button.cta Play with it
                  button.cta Open in IDE
                  button.cta Check out code
                  button.cta Watch solve
            
          //- li.puzzle
          //-   .puzzle__media
          //-     - var src = `jigsaws/006/1.jpg?{sizes:[1480]}`
          //-     img.puzzle__img(preserveAspectRatio="xMidYMax slice" src=src)
          //-     img.puzzle__img(preserveAspectRatio="xMidYMax slice" src="jigsaws/006/7.jpg?{sizes:[1480]}")
          //-   .puzzle__info
          //-     h2.puzzle__title 006
          //-     .puzzle__meta
          //-       button.cta Play with it
          //-       button.cta Open in IDE
          //-       button.cta Check out code
          //-       button.cta Watch solve
          //- li.puzzle
          //-   .puzzle__media
          //-     - var src = `jigsaws/005/1.jpg?{sizes:[1480]}`
          //-     img.puzzle__img(preserveAspectRatio="xMidYMax slice" src=src)
          //-     img.puzzle__img(preserveAspectRatio="xMidYMax slice" src="jigsaws/005/1.jpg?{sizes:[1480]}")
          //-   .puzzle__info
          //-     h2.puzzle__title 005
          //-     .puzzle__meta
          //-       button.cta Play with it
          //-       button.cta Open in IDE
          //-       button.cta Check out code
          //-       button.cta Watch solve
          //- li.puzzle
          //-   .puzzle__media
          //-     - var src = `jigsaws/004/1.jpg?{sizes:[1480]}`
          //-     img.puzzle__img(preserveAspectRatio="xMidYMax slice" src=src)
          //-     img.puzzle__img(preserveAspectRatio="xMidYMax slice" src="jigsaws/004/1.jpg?{sizes:[1480]}")
          //-   .puzzle__info
          //-     h2.puzzle__title 004
          //-     .puzzle__meta
          //-       button.cta Play with it
          //-       button.cta Open in IDE
          //-       button.cta Check out code
          //-       button.cta Watch solve

          //- - let jigsaw
          //- - jigsaw = '006';
          //- include jigsaw
          //- - jigsaw = '005';
          //- include jigsaw
          //- - jigsaw = '004';
          //- include jigsaw
          //- - jigsaw = '003';
          //- include jigsaw
          //- - jigsaw = '002';
          //- include jigsaw
          //- - jigsaw = '001';
          //- include jigsaw
